#main {
    max-width: 500px;
    margin: auto;
    font-family: 'IBM Plex Serif', serif;
    background-color: rgb(231, 211, 165);
}

#title {
    font-size: 45px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 15px;
}

#img-caption {
    font-size: 13px;
}

#tribute-info {
    font-weight: bold;
    font-size: 21px;
    padding: 1px;
}

ul {
    text-align: center;
    list-style: inside;
    list-style-type: none;
    padding: 8px;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(230, 19, 19);
    text-decoration: underline;
}

iframe {
    max-width: 100%;
    display: block;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 15px;
}

footer {
    font-size: 15px;
    display: fixed;
    height: 30px;
    background-color: #efefef;
}

.tribute-link {
    font-weight: bold;
}
